.nunito-sans-class {
    font-family: "Nunito Sans", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
  }

  html {
    overflow-x: hidden;
  }

  .landingpage {
    background-image: url('../img/musicimg2.png');
    background-size: fit;
    background-blend-mode: multiply;
    background-color: rgb(209, 207, 207);
  }

  .musicBackground {
    background-image: url('../img/musicimg4.png');
    background-size: fit;
    background-blend-mode: multiply;
    background-color: rgb(108, 106, 106);
  }